body, html {
    margin: 0;
    transition: background-color 0.5s ease;
  }
  body.day-mode {
    background-color: #fff;
    color: #000;
  }
  body.day-mode .navbar, body.day-mode .section, body.day-mode .card, 
  body.day-mode .footer, body.day-mode .footer-below, body.day-mode .footer-hot-cold, body.day-mode .footer-below-crazy  {
    background-color: #f1f1f1; 
    border: 1px solid black;
    border-radius: 5px; 
    margin-bottom: 8px;
  }
  body.night-mode {
    background-color: #333;
    color: #ddd;
  }

body.day-mode .navbar-inverse .navbar-toggle .icon-bar {
  background-color: #673AB7; /* Change to black or any dark color you prefer */
}

body.day-mode .navbar-inverse .navbar-right > li > a {
  color: #000; /* Black for day mode */
}
body.night-mode .navbar-inverse .navbar-right > li > a {
  color: #fff; /* White for night mode */
}

  body.night-mode .navbar, body.night-mode .section, body.night-mode .card, 
  body.night-mode .footer, body.night-mode .footer-below, body.night-mode .footer-hot-cold, body.night-mode .footer-below-crazy  {
    background-color: #555;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 8px;
  }
  

  .container-fluid > .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
  }
  .section {
    padding: 5px;
  }
  
  /* Ensure this is outside the media query to have a default styling */
  .cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
  }
  
  .card {
    flex: 0 0 calc(25% - 20px); 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; 
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    color: white;
  }

  /* Example of original CSS for .card */
  .cards-container > .card {
    width: 150px; /* Example size */
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    text-align: center;
  }

  /* Updated CSS to account for the new structure */
  .cards-container > .card-wrapper > .card {
    width: 150px; /* Maintain original width */
    background-color: #f0f0f0;
    text-align: center;
    height: 60px;
  }

  .card-wrapper {
    text-align: center;  /* Aligns content of the wrapper */
    margin: 5px;         /* Space around each card wrapper */
  }

  .card-title {
      margin-bottom: 4px;  /* Space between title and card */
      font-size: 16px;     /* Font size for readability */
  }


  /* Day mode card colors */
  body.day-mode .card#card-10-spot{ background-color: #FFC107; }
  body.day-mode .card#card-9-spot { background-color: #03A9F4; }
  body.day-mode .card#card-8-spot { background-color: #4CAF50; }
  body.day-mode .card#card-7-spot { background-color: #FF9800; }
  /* Night mode card colors */
  body.night-mode .card#card-10-spot { background-color: #FF5722; }
  body.night-mode .card#card-9-spot { background-color: #673AB7; }
  body.night-mode .card#card-8-spot { background-color: #3F51B5; }
  body.night-mode .card#card-7-spot { background-color: #E91E63; }

  .buttons-container {
      display: flex;
      flex-direction: column;
      margin-top: 15px; /* Spacing from the top */
    }
    
    .button-row {
      display: flex;
      justify-content: space-between; /* Spread buttons evenly */
      margin-bottom: 10px; /* Spacing between rows */
    }
    
    .button-row button {
      flex: 1; /* Each button will take equal space */
      padding: 10px;
      margin: 0 5px; /* Spacing between buttons */
      border: none;
      border-radius: 5px;
      background-color: #03A9F4; /* Default day mode color */
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    }
    
    /* Adjust the background color of the buttons for night mode */
    body.night-mode .button-row button {
      background-color: #03A9F4;
    }
    
    /* Hover effects */
    .button-row button:hover {
      background-color: #0292C9; /* Slightly darker for day mode */
    }
    
    body.night-mode .button-row button:hover {
      background-color: #5C49B6; /* Slightly lighter for night mode */
    }

    .new-footer {
      background-color: #262626; /* Dark background */
      color: #f8f8f8; /* Light text */
      padding: 20px 0;
    }
    
    .new-footer p {
      margin: 0 0 10px;
    }
    
    /* .new-footer .social-links {
      /* Add your styling for social links here */
    /* } */ 
    
    .new-footer .social-link {
      color: #f8f8f8; /* Light link color for visibility on dark background */
      margin: 0 10px;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    
    .new-footer .social-link:hover {
      color: #cccccc; /* Lighter grey on hover */
    }

    .new-footer p {
      margin: 0;
      padding: 20px 0; /* Adds padding within each column */
    }
    
    .footer-link {
      color: #f8f8f8; /* Light link color for visibility on dark background */
      text-decoration: none;
      transition: color 0.3s ease;
    }
    
    .footer-link:hover {
      color: #cccccc; /* Lighter grey on hover */
    }
    .middle-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* padding: 1em; */
      overflow: hidden; /* Prevents the children from overflowing */
      /* Ensure there's enough room for the grid */
      /*min-height: 500px;  Adjust this based on your content and layout */
      max-width: 100%; /* Ensure the middle-main doesn't exceed the width of its parent */
    }

    .middle-top{
      display: grid;
      flex-direction: column;
      align-items: center;
      max-width: 100%; 
      overflow: hidden;
      flex: 1;
      justify-items: stretch;
    }

    
    .board {
      max-width: 100%;
      width: 100%; /* Use up to 100% of the middle-main width */
      margin: 0 auto; /* Center the board if it's smaller than the available space */
      overflow: hidden; /* Prevents the grid from overflowing */
    }
    
    .board-grid {
      display: grid;
      grid-template-columns: repeat(10, 1fr); /* 10 columns for numbers 1-10 */
      /*grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));  Or use percentages */
      /*grid-template-columns: repeat(10, calc(50% - 10px));  */
      /* gap: 5px; */
      justify-content: center;
      /* padding: 5px; */
    }
    
    .cell {
      position: relative; 
      /*width: 100%;  Makes the cell width responsive to the grid column size */
      padding-top: 5px; /* Top padding to create a rectangle shape (adjust as needed) */
      padding-bottom: 5px; /* Bottom padding (adjust as needed) */
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      border-radius: 5px;
      margin: 1px; /* Space between cells */
      background-color: #f0f0f0; 
      flex-grow: 1; /* Allow cell to grow */
      flex-shrink: 1; /* Allow cell to shrink */
      opacity: 0.5;
    }

    /* Night Mode Styles for Cells */
    body.night-mode .cell {
      background-color: #333; /* Dark background for the cells */
      color: #ffffff !important; /* White text color */
      font-weight: bold; /* Make the text bold */
    }
    
    /* Day Mode for .section.middle-main */
    body.day-mode .section.middle-main {
      background-color: #ffffff !important; /* Ensures white background in day mode */
    }
    
    /* Night Mode for .section.middle-main */
    body.night-mode .section.middle-main {
      background-color: #444 !important; /* Lighter dark background compared to cells */
    }

    /* Spacer for the gap between rows */
  .grid-gap {
      width: 100%;
      height: 20px; /* Height of the gap */
      grid-column: 1 / -1; /* Make it span all columns */
  }


  .well {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
  }

  .well.section {
    display: flex;  /* This turns .well.section into a flex container */
    flex-wrap: wrap; /* This allows the items to wrap if necessary */
    justify-content: space-between; /* This spreads out the children with space between them */
    align-items: center; /* This centers the dropdowns vertically */
  }
  
  /* Select all direct children inside .well.section */
  .well.section > h3 {
    margin-bottom: 10px; /* Add some space between the items */
    width: 100%; /* Ensure they fill the container */
  }

  .footer-link {
    font-size: 20px; /* Adjust the font size as needed */
    color: #f8f8f8; /* Assuming you want to keep the existing color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #cccccc; /* Lighter grey on hover for visibility */
}




























.pick-item, .crazy-item, .insane-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  color: white;
  font-weight: bold;
  justify-content: center;
  padding: 2px;
  border-radius: 1px;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  width: 95%;
  margin: 0 auto;
  margin-bottom: 4px;
}

    .pick-item {
        background-color: green;
    }

    .crazy-item {
        background-color: orange;
    }
    .insane-item {
        background-color: red;
    }

    .default-message {
        background-color: black;
    }
    .crazy-message {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 26px;
        color: white;
        font-weight: bold;
        border: 2px solid white;
        justify-content: center;
        padding: 5px;
        background-color: red;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 4px solid black;
        margin-bottom: 10px;
    }

  
  .crazies {
      display: grid;
      grid-template-columns: repeat(3, minmax(150px, 1fr)); /* Adjust 150px as needed */
      justify-items: stretch;
      margin-top: 10px;
  }



  .top-number,
  .bottom-number {
      text-align: center;
      display: block;
  }

  .top-number {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 8px;
      font-weight: bold;
      color: "#F5F5F5";
  }

  .bottom-number {
      font-size: 0.5em;
      color: "#F5F5F5";
      white-space: nowrap;
      margin: 2px;
  }









.footer-hot-cold{
  margin-bottom: 5px;;
}
.hot-cold {
    grid-column: span 1 / 3;
}
.hot, .cold {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically, if they don't all have the same height */
}

  .hot-item {
      background-color: #c5202b;
  }

  .cold-item {
      background-color: #006bb5;
  }
  .hot-item, .cold-item {
    margin: 10px; /* Add some space around items */
    /* Add other styles for hot and cold items here */
  }

  .cold-item,
  .hot-item {
      border-radius: 5px;
      text-align: center;
      height: 40px;
      width: 80px;
      margin: 5px;
      align-items: center;
      font-size: 26px;
      line-height: 40px;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      border: 2px solid white;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  }

.section.caption, .section.caption1 {
  text-align: center; /* Center the text horizontally */
  font-weight: bold; /* Make the text bold */
}


.navbar-logo {
  height: 50px; /* Adjust to make the logo bigger */
  margin-top: -10px; /* Adjust if needed to raise the logo up a bit */
  vertical-align: middle; /* Helps with vertical centering */
}
.navbar-brand {
  display: flex;
  align-items: center; /* This ensures vertical centering of child elements */
  justify-content: center; /* This centers the content horizontally, useful if the navbar-brand takes up more space */
  transition: height 0.3s ease;
}

.navbar {
  height: auto; /* Allows the navbar to expand to fit content */
  padding: 10px 0; /* Adds some vertical padding within the navbar, adjust as needed */
  margin-bottom: 20px; /* Adjust the value as needed */
}

#main-navbar {
  margin-bottom: 20px; /* Adjust the value as needed */
}


/* Center content within .well.section */
.well.section {
  text-align: center; /* Center text labels */
}


.form-group {
  width: 100%; 
}

.info {
  display: flex; /* This will enable flexbox */
  justify-content: space-evenly; /* This will space out the items evenly */
  align-items: center; /* This aligns items vertically in the center, if needed */
}

.controls {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.dropdown-container {
  display: inline-flex;
  flex-direction: column;
  margin: 0 10px;
}







.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.label-text {
  margin: 0 10px;
  font-weight: bold;
  color: #666; /* Adjust color to match your theme */
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}









/* Night/Day Mode Styles (Assuming you have these defined) */
body.day-mode .collapsible {
  background-color: inherit; /* Inherit background color from body */
  /*border: 1px solid #ddd;  Light border for day mode */
  color: #000; /* Text color for day mode */
}

body.day-mode .collapsible summary {
  color: inherit; /* Inherit text color from body */
}

body.night-mode .collapsible {
  background-color: inherit; /* Inherit background color from body */
  /*border: 1px solid #333;  Dark border for night mode */
  color: #ddd; /* Text color for night mode */
}

body.night-mode .collapsible summary {
  color: inherit; /* Inherit text color from body */
}

/* Button Styles */
.btn-custom-dark {
  background-color: #000; /* Black background color */
  color: #fff; /* White text color */
  border-color: #000; /* Black border color */
}

/* Collapsed State (Optional) */
.btn-custom-dark.collapsed {
  opacity: 0.9;
}

/* Styles for details element (collapsible content) */
.collapsible {
  padding: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.collapsible summary {
  font-weight: bold;
}

.collapsible:not([open]) .flex-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

/* Styles for flex container and flex item */
.flex-container {
  display: flex; /* Enable flexbox layout for horizontal arrangement */
}

.flex-item {
  flex: 1; /* Make the flex item expand to fill the remaining space */
  padding: 0px;
  margin: 0px;
  border: 1px solid #ccc; /* Assuming default border color */
  border-radius: 5px;
  text-align: center;
  display: flex; /* Enable flexbox for the element */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
}

#myCustomButton.btn-custom-dark {
  background-color: #000; /* Black background color */
  color: #fff; /* White text color */
  border-color: #000; /* Black border color */
}

.collapse {
  display: flex;
}


/* Your custom styles */
.my-specific-card .card-body {
  padding: 0.1rem !important;  /* Set padding to 0.5rem */
}



















@media (max-width: 575px) {
  .container-fluid.mt-5 {
    padding-top: 30px !important;
  }
  .navbar-nav .nav-item .label-text {
    font-size: 12px;
  }
  .navbar-nav .nav-item .theme-switch {
      transform: scale(0.8);
  }
  .navbar-nav .nav-item {
      padding: 5px;
  }
  .info h4 {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.2;
  }
  .controls .form-label {
    font-size: 14px;
  }
  .controls .form-control, .controls .form-select {
    font-size: 14px;
    padding: 8px 12px;
  }
  .controls .dropdown-container {
    margin-bottom: 10px;
  }


  .card {
    font-size: 11px;  /* smaller font size for small screens */
  }
  .cards-container > .card {
    background-color: #f0f0f0;
    text-align: center;
  }
  .cards-container > .card-wrapper > .card {
    width: 70px;
    background-color: #f0f0f0;
    text-align: center;
    height: 40px;
  }
  .card-wrapper {
    text-align: center; 
  }
  .card-title {
      margin-bottom: 0px;
      font-size: 10px;
  }




  .hot-item.noDisplylg, .cold-item.noDisplylg{
    display: none !important;
  }
  .hot-item.noDisplay, .cold-item.noDisplay{
    display: none !important;
  }
  .bottom-number {
    display: none !important; 
  }
  
  .navbar-brand img {
    height: 30px !important;
  }
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    padding: 0;
    height: 28px;
    flex: 1; /* Allows the cell to grow and fill the space */
    margin: 1; /* No margin for the cell */
    border: 1px solid transparent; /* Adjust border as needed */
    box-sizing: border-box;
  }
  .pick-item, .crazy-item, .insane-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
    justify-content: center;
    padding: 2px;
    border-radius: 1px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 95%;
    margin: 0 auto;
    margin-bottom: 4px;
  }
  .crazies {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr)); /* Adjust 150px as needed */
    justify-items: stretch;
    margin-top: 10px;
}
  .cold-item,
  .hot-item {
      border-radius: 5px;
      text-align: center;
      height: 30px;
      width: 50px;
      margin: 5px;
      align-items: center;
      font-size: 16px;
      line-height: 25px;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      border: 2px solid white;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  }
  .footer-link {
    font-size: 12px;
    padding: 5px;
    display: block;
  }
  .new-footer .col-3 {
      padding: 0 2px;
  }
}

/* // X-Small devices (portrait phones, less than 576px)*/
@media (min-width: 576px) and (max-width: 767px){
  .hot-item.noDisplylg, .cold-item.noDisplylg{
    display: none !important;
  }
  .hot-item.noDisplay, .cold-item.noDisplay{
    display: none !important;
  }
  .bottom-number {
    display: none !important; 
  }
  .card {
    font-size: 20px;  /* smaller font size for small screens */
  }
  .cards-container > .card {
    width: 100px; /* Example size */
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    text-align: center;
  }

  /* Updated CSS to account for the new structure */
  .cards-container > .card-wrapper > .card {
    width: 100px; /* Maintain original width */
    background-color: #f0f0f0;
    text-align: center;
  }

  .card-wrapper {
    text-align: center;  /* Aligns content of the wrapper */
    margin: 5px;         /* Space around each card wrapper */
  }

  .card-title {
      margin-bottom: 4px;  /* Space between title and card */
      font-size: 16px;     /* Font size for readability */
  }
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    padding: 0;
    height: 48px;
    flex: 1; /* Allows the cell to grow and fill the space */
    margin: 1; /* No margin for the cell */
    border: 1px solid transparent; /* Adjust border as needed */
    box-sizing: border-box;
  }
  .pick-item, .crazy-item, .insane-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
    justify-content: center;
    padding: 2px;
    border-radius: 1px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 95%;
    margin: 0 auto;
    margin-bottom: 4px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) and (max-width: 991.97px) {   
  .hot-item.noDisplylg, .cold-item.noDisplylg{
    display: none !important;
  }
  .bottom-number {
    display: none !important; 
  }
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    padding: 0;
    height: 48px;
    flex: 1; /* Allows the cell to grow and fill the space */
    margin: 2; /* No margin for the cell */
    border: 1px solid transparent; /* Adjust border as needed */
    box-sizing: border-box;
  }
  .pick-item, .crazy-item, .insane-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    color: white;
    font-weight: bold;
    justify-content: center;
    padding: 2px;
    border-radius: 1px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 95%;
    margin: 0 auto;
    margin-bottom: 4px;
  }
}

@media (min-width: 992px) and (max-width: 1599.98px) {   
  .hot-item.noDisplylg, .cold-item.noDisplylg{
    display: none !important;
  }
  .bottom-number {
    display: none !important; 
  }
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    padding: 0;
    height: 48px;
    flex: 1; /* Allows the cell to grow and fill the space */
    margin: 2; /* No margin for the cell */
    border: 1px solid transparent; /* Adjust border as needed */
    box-sizing: border-box;

  }
}






